fastapi==0.111.0
uvicorn[standard]==0.29.0
SQLAlchemy==2.0.21
asyncpg
python-dotenv
authlib
python-jose[cryptography]
pydantic==2.7.1
pydantic-settings
google-auth-oauthlib
requests
passlib[bcrypt]
python-multipart
Jinja2
uvloop
alembic
itsdangerous
starlette
psycopg2-binary
geoalchemy2
shapely
boto3

# For testing
pytest
httpx
pytest-asyncio
aiosqlite
pytest-cov 